{% extends 'base.html' %}
{% block content %}  

<section >
  <div class="container ">
      <div class="row gx-4 gx-lg-5 align-items-center">
          <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="../static/{{photo.image_name}}" alt="{{photo.image_name}}" /></div>
          <div class="col-md-6">
             
              <h1 class="display-5 fw-bolder">{{photo.name}}</h1>
              
             <ul>
            
          </div>
             </ul>
            
            <div style="padding-top: 30px; padding-right: 300px;">
        
   
  </div>

          </div>
      </div>
  </div>
</section>

 
 
  
{% endblock %}  